body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #3D3D3D;
    text-align: center;
}


.topBar {
    background-color: black;
    color: white;
    overflow: hidden;
    text-align: center;
}

.topBar h3 {
    margin-top: -1vh;
}

.button {
    border: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 50px;
    transition-duration: 0.2s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.greenButton {
    width: 300px;
    background-color: #BCE9BB;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.button:hover {
    background-color: white;
    color: black;
}

.greyButton {
    width: 300px;
    background-color: #CCCCCC;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.blueButton {
    width: 300px;
    background-color: #78879C;
    color: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.pageDescription {
    color: white;
}

.popUp {
    background-color: #78879C;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    padding-top: 20px;
}

table {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-collapse: collapse;
    border: 0px black;
}

th {
    text-align: left;
}

.center {
    margin-right: auto;
    margin-left: auto;
    
}

tr:nth-child(even) {
    background-color: #5E646C;
}


td {
    background-color: #404C5E;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
}

th {
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sliderWithLabel {
    display: block;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1vh;
    text-align: left;
}

.slider {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
}

.textInput {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 240px;
    height: 25px;
}

.inputLabel {
    text-align: left;
    font-weight: 700;
    color: white;
}

.results h2 {
    display: inline-block;
    color: white;
}

.results p {
    display: inline-block;
    color: white;
    margin-right: 1vw;
    margin-left: 1vw;
}


.errorMessage {
    color: red;
    font-weight: bold;
}

