body {
    margin: 0;
    font-family: sans-serif;
    background-color: #3D3D3D;
    text-align: center;
}


.topBar {
    background-color: black;
    color: white;
    overflow: hidden;
    text-align: center;
}

.topBar h3 {
    margin-top: -1vh;
}

.button {
    border: none;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 50px;
    transition-duration: 0.2s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.greenButton {
    width: 300px;
    background-color: #BCE9BB;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.button:hover {
    background-color: white;
    color: black;
}

.greyButton {
    width: 300px;
    background-color: #CCCCCC;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.blueButton {
    width: 300px;
    background-color: #78879C;
    color: black;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.pageDescription {
    color: white;
}

.popUp {
    background-color: #78879C;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}

table {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

th {
    text-align: left;
}

.center {
    margin-right: auto;
    margin-left: auto;
    
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    background-color: #404C5E;
    color: white;
    text-align: left;
}

th {
    background-color: black;
    color: white;
}

.sliderWithLabel {
    display: block;
}

.slider {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
}

.textInput {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.inputLabel {
    text-align: left;
}
