{% extends 'layout.html' %}

{% block body %} 
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    window.onload=function(){
        addPlayerPopUp.style.display = 'none';
    }
    
    function showAddPlayer() {
        document.getElementById('addPlayerPopUp').style.display = 'block';
        document.getElementById('addPlayer').style.display = 'none';
    }

    function hideAddPlayer() {
        document.getElementById('addPlayerPopUp').style.display = 'none';
        document.getElementById('addPlayer').style.display = 'block';
    }

</script>

<div>
    
    <h3 class="pageDescription"> Generate teams based on player skill </h3>
    
    <div class="playerTable">
        <table class="playerTable">
            {{ table|safe }}
        </div>
    </div>
    
    
    <div>
        <button type="button" class="button blueButton" id="addPlayer" name="addPlayer" style="margin-top: 1vh;" onclick="showAddPlayer()"> 
            ADD PLAYER 
        </button>
    </div>

    <div class="popUp" id='addPlayerPopUp'>
        <div>
            <form action="/add_player" method="post">
                <div class="sliderWithLabel">
                    <label class="inputLabel" for="name"> Name </label>
                    <input class="textInput" id="name" name="name" required/>
                </div>
                <div class="sliderWithLabel">
                    <label for="knowledge"> Knowledge of Rules</label>
                    <input class="slider" id="knowledge" name="knowledge" type="range" min="1" max="5" step="1" />
                </div>
                <div class="sliderWithLabel">
                    <label for="speed"> Running Speed </label>
                    <input class="slider" id="speed" name="speed" type="range" min="1" max="5" step="1" />
                </div>
                <div class="sliderWithLabel">
                    <label for="throwing"> Throwing Ability </label>
                    <input class="slider" id="throwing" name="throwing" type="range" min="1" max="5" step="1" />
                </div>
                <div class="sliderWithLabel">
                    <label for="catching"> Catching Ability </label>
                    <input class="slider" id="catching" name="catching" type="range" min="1" max="5" step="1" />
                </div>
                <div class="sliderWithLabel">
                    <label for="batting"> Batting/Kicking Ability </label>
                    <input class="slider" id="batting" name="batting" type="range" min="1" max="5" step="1" />
                </div>
                <input type="submit", class="button greenButton", value="CONFIRM" style="width: 250px; margin-bottom: 1vh;">
            </form>
        </div>
        
        <div>
            <button class="button greyButton" onclick="hideAddPlayer()" style="width: 250px; margin-top: 1vh;"> CANCEL </button>
        </div>
    </div>
    <form action="/create_teams" method="get">
        <input type="submit" class="button greenButton" value="CREATE TEAMS">
    </form>
    <div>
        {{ error }}
    </div>
    
</div>


{% endblock %}