{% extends 'layout.html' %}

{% block body %} 
<div class="content">
    <div class="topBar">
        <h1> BASEBALL/KICKBALL </h1>
        <h3> TEAM GENERATOR </h3>
    </div>
    <h3 class="pageDescription"> Generate teams based on player skill </h3>
    
    <div class="table">
        
    </div>
    
    <div>
        <button type="button" class="greyButton"> ADD PLAYER </button>
    </div>

    <div>
        <button type="button" class="greenButton"> CREATE TEAMS </button>
    </div>
    
</div>
{% endblock %}